<!DOCTYPE html>
<html>
  <head>
    <title>Don't Look Outside Today</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:700" rel="stylesheet">
    <link rel="icon" type="image/png" href="apple-touch-icon-precomposed.png" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
